/* Solo para visualización */
*{
	margin: 0;
	padding: 0;
}

body{
	padding: 35px 25px;
}

button{
	float: left;
	margin: 0 5px;
	padding: 4px 8px;
	background-color: #4C3;
	font-family: 'Amarillo';
	border: none;
}

img{
	width: 100%;
}

.img{
	float: left;
	width: 300px;
	margin: 0 8px;
}

.botones,.imagenes{
	background-color: #123;
	float: left;
	width: 100%;
	padding: 20px 5px;
	text-align: center;
}

.botones h1,.imagenes h1{
	color: white;
	font-family: impact;
	text-align: center;
	border-bottom: 1px solid #999;
	width: 60%;
	margin: 15px auto;
}

/* ---------------------------------- */

/* ---Configuracion general animaciones----- */
.lineas{
	position: relative;
}

.lineas::before{
	position: absolute;
	content: "";
	background-color: #fff;
}

.lineas::after{
	position: absolute;
	content: "";
	background-color: #fff;
}

.relleno{
	position: relative;
	z-index: 1;
}

.relleno:hover{
	cursor: pointer;
}

.relleno::before{
	background-color: #fff;
	content: "";
	position: absolute;
}

.relleno::after{
	background-color: #fff;
	content: "";
	position: absolute;
}
/* ---------------------------------- */


/* ----------------------------Imagenes-------------------------------- */

.img {
	position: relative;
	overflow: hidden;
}

.img#multimedia{
	background-image: url('../img/lorempixel.jpg');
	width: 300px;
	height: 300px;	
}
.img .transparencia {
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;
	background-color: rgba(250,250,250,0.4);
	-webkit-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.img:hover .transparencia {
	/*transform: scale(100%);*/
	top:0;
	bottom:0;
	left:0;
	right:0;
	
}

.img .contenido {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	bottom: 100%;
	background-color: #551;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.img .contenido p {
	position: relative;
	font-size: 2.2em;
	top: -50px;
	left: 50%;
	margin: 3px 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.img .contenido a {
	position: relative;
	text-decoration: none;
	background-color: #715;
	padding: 9px;
	color: white;
	font-size: 1.5em;
	top: 0;
	right: -200px;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	transition-delay: 0.2s;
}

.img:hover .contenido p{
	top: 0;
}


.img:hover .contenido a{
	right: 0;
}