/* Solo para visualización */
*{
	margin: 0;
	padding: 0;
}

body{
	padding: 35px 25px;
	font-size: 20px;
}

button{
	float: left;
	margin: 0 5px;
	padding: 4px 8px;
	background-color: #4C3;
	font-family: 'Amarillo';
	border: none;
}

.img{
	float: left;
	width: 300px;
	margin: 0 8px;
}

.botones,.imagenes{
	background-color: #123;
	float: left;
	width: 100%;
	padding: 20px 5px;
	text-align: center;
}

.botones h1,.imagenes h1{
	color: white;
	font-family: impact;
	text-align: center;
	border-bottom: 1px solid #999;
	width: 60%;
	margin: 15px auto;
}

/* ---------------------------------- */

/* ---Configuracion general animaciones----- */
.lineas{
	position: relative;
}

.lineas::before{
	position: absolute;
	content: "";
	background-color: #fff;
}

.lineas::after{
	position: absolute;
	content: "";
	background-color: #fff;
}

.relleno{
	position: relative;
	z-index: 1;
}

.relleno:hover{
	cursor: pointer;
}

.relleno::before{
	background-color: #fff;
	content: "";
	position: absolute;
}

.relleno::after{
	background-color: #fff;
	content: "";
	position: absolute;
}
/* ---------------------------------- */